<footer class="flex flex-wrap justify-between p-5 bg-[#bbc98f]">
    <div>
        <i class="fa-brands fa-instagram"></i>
    </div>
    
    <div>
        <a href="#">Nous contacter</a>
    </div>

</footer>