<nav class="flex flex-row justify-center m-5 items-center text-center">
    <div class="flex justify-around text-xl">

        <a  class="text-[#312c2e] hover:text-[#FF7F3F] active:text-[#ff7f3f] px-4" href={{ path('app_travel', { id:travel.id } ) }} aria-current="page">Informations du voyage</a>
        <p  class="px-4">-</p>
        <a  class="text-[#312c2e] hover:text-[#FF7F3F] px-4" href="#">Jour par jour</a>
        <p  class="px-4">-</p>
        <a  class="text-[#312c2e] hover:text-[#FF7F3F] px-4" href="#">Résumé du voyage</a>

    </div>
</nav>